@import "tailwindcss";

@theme {
  --colors-white: #d5ddde;
  --color-muted: #a4b9cc;
  --color-primary: #09254f;
  --color-secondary: #0a4c9c;
  --color-third: #5ea2d4;
  --colors-black: #000;
}

@theme extend {
  --font-family-display: Poppins, sans-serif;
}

@layer components {
  .table-th {
    @apply text-slate-600 dark:text-slate-300 text-xs font-semibold uppercase py-5 px-6 ltr:text-left rtl:text-right;
  }

  .table-td {
    @apply text-slate-600 dark:text-slate-300 text-sm font-normal capitalize px-6 py-5 border-slate-100 dark:border-slate-700;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .badge {
    @apply py-1 px-2 text-xs capitalize font-semibold rounded-[.358rem] 
      whitespace-nowrap align-baseline inline-flex;
  }

  h1 {
    @apply text-6xl font-semibold text-slate-900 dark:text-slate-300;
  }

  h2 {
    @apply text-5xl font-semibold text-slate-900 dark:text-slate-300;
  }

  h3 {
    @apply text-4xl font-medium text-slate-900 dark:text-slate-300;
  }

  h4 {
    @apply text-3xl font-medium text-slate-900 dark:text-slate-300;
  }

  h5 {
    @apply text-2xl font-medium text-slate-900 dark:text-slate-300;
  }

  h6 {
    @apply text-xl leading-5 font-medium text-slate-900 dark:text-slate-300;
  }

  .form-label {
    @apply mb-2 text-slate-600 dark:text-slate-300 text-sm leading-6 capitalize 
      cursor-pointer block w-full font-medium rtl:text-right rtl:block;
  }

  .form-control {
    @apply bg-white dark:bg-slate-900 border border-slate-200 dark:border-slate-700 
      dark:text-slate-300 rounded px-3 text-sm 
      placeholder:text-slate-400 placeholder:font-normal
      focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-900 focus:outline-none
      block w-full transition duration-300 ease-in-out;
  }

  .input-description {
    @apply block text-gray-500 font-light leading-4 text-xs mt-2;
  }

  .fromGroup {
    @apply relative;
  }
}
