@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
}

@layer components {
  .table-th {
    @apply text-slate-600 dark:text-slate-300 text-xs font-semibold uppercase py-5 px-6 ltr:text-left rtl:text-right;
  }

  .table-td {
    @apply text-slate-600 dark:text-slate-300 text-sm font-normal capitalize px-6 py-5 border-slate-100 dark:border-slate-700;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .btn {
    @apply font-semibold text-sm leading-6 md:px-6 md:py-3 px-4 py-3 rounded capitalize 
           transition-all duration-150 md:whitespace-nowrap whitespace-normal relative;
  }

  .btn-xl {
    @apply text-[16px] md:px-10 px-7 md:py-4 py-3;
  }

  .btn-sm {
    @apply text-xs md:px-4 py-2 px-3;
  }

  .block-btn {
    @apply block w-full text-center;
  }

  .block-btn span {
    @apply justify-center;
  }

  .btn-dark {
    @apply bg-slate-900 text-white 
      dark:bg-slate-900 
      hover:ring-2 hover:ring-black hover:ring-black hover:ring-offset-1 
     dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-primary {
    @apply bg-blue-500 text-white 
      hover:ring-2 hover:ring-blue-500 hover:ring-black hover:ring-offset-1 
     dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white 
      hover:ring-2 hover:ring-gray-500 hover:ring-black hover:ring-offset-1
     dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-success {
    @apply bg-green-500 text-white 
      hover:ring-2 hover:ring-green-500 hover:ring-black hover:ring-offset-1
     dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-info {
    @apply bg-[#0CE7FA] text-white 
      hover:ring-2 hover:ring-[#0CE7FA] hover:ring-black hover:ring-offset-1
     dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-warning {
    @apply bg-[#FA916B] text-white 
      hover:ring-2 hover:ring-[#FA916B] hover:ring-black hover:ring-offset-1
     dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-danger {
    @apply bg-red-500 text-white 
      hover:ring-2 hover:ring-red-500 hover:ring-black hover:ring-offset-1
      dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-light {
    @apply bg-slate-100 text-slate-900 
      hover:ring-2 hover:ring-[#E0EAFF] hover:ring-offset-1
      dark:bg-slate-900 dark:text-slate-300 dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-yellow {
    @apply bg-yellow-400 text-white 
      hover:ring-2 hover:ring-yellow-400 hover:ring-offset-1
      dark:hover:bg-black dark:hover:ring-0 dark:hover:ring-offset-0;
  }

  .btn-outline-dark {
    @apply bg-transparent text-slate-900 dark:text-slate-300 
      border border-black dark:border-slate-600 
      hover:border-black hover:bg-slate-900;
  }

  .btn-outline-dark.active {
    @apply bg-slate-900 text-white 
      dark:bg-slate-900 dark:text-slate-300;
  }

  .badge {
    @apply py-1 px-2 text-xs capitalize font-semibold rounded-[.358rem] 
      whitespace-nowrap align-baseline inline-flex;
  }

  h1 {
    @apply text-6xl font-semibold text-slate-900 dark:text-slate-300;
  }

  h2 {
    @apply text-5xl font-semibold text-slate-900 dark:text-slate-300;
  }

  h3 {
    @apply text-4xl font-medium text-slate-900 dark:text-slate-300;
  }

  h4 {
    @apply text-3xl font-medium text-slate-900 dark:text-slate-300;
  }

  h5 {
    @apply text-2xl font-medium text-slate-900 dark:text-slate-300;
  }

  h6 {
    @apply text-xl leading-5 font-medium text-slate-900 dark:text-slate-300;
  }

  .form-label {
    @apply mb-2 text-slate-600 dark:text-slate-300 text-sm leading-6 capitalize 
      cursor-pointer block w-full font-medium rtl:text-right rtl:block;
  }

  .form-control {
    @apply bg-white dark:bg-slate-900 border border-slate-200 dark:border-slate-700 
      dark:text-slate-300 rounded px-3 text-sm 
      placeholder:text-slate-400 placeholder:font-normal
      focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-900 focus:outline-none
      block w-full transition duration-300 ease-in-out;
  }

  .input-description {
    @apply block text-gray-500 font-light leading-4 text-xs mt-2;
  }

  .fromGroup {
    @apply relative;
  }
}
