@import "tailwindcss";

html,
body {
  scrollbar-gutter: stable;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  /* MUTED */
  --color-muted-100: #f1f5f9;
  --color-muted-200: #e2e8f0;
  --color-muted-500: #64748b;
  --color-muted-700: #475569;

  /* PRIMARY */
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #1d4ed8;
  --color-primary-700: #173fad;

  /* SECONDARY */
  --color-secondary-100: #d2dced;
  --color-secondary-200: #a6b8db;
  --color-secondary-300: #7994c8;
  --color-secondary-400: #4d70b6;
  --color-secondary-500: #315a9d;
  --color-secondary-700: #09254f;

  /* THIRD */
  --color-third-100: #e0f2fc;
  --color-third-200: #b9def6;
  --color-third-300: #90c9ee;
  --color-third-400: #6ab7e5;
  --color-third-500: #45a4db;
  --color-third-700: #5ea2d4;

  /* SUCCESS */
  --color-success-100: #dbf7eb;
  --color-success-200: #b7efd7;
  --color-success-300: #92e7c4;
  --color-success-400: #6edfaf;
  --color-success-500: #4cd799;
  --color-success-700: #50c793;

  /* DANGER */
  --color-danger-100: #fde2e2;
  --color-danger-200: #fbbaba;
  --color-danger-300: #f89090;
  --color-danger-400: #f46a6a;
  --color-danger-500: #f04444;
  --color-danger-700: #f1595c;

  /* WARNING */
  --color-warning-100: #fee8dc;
  --color-warning-200: #fcc8ad;
  --color-warning-300: #f9a67a;
  --color-warning-400: #f88954;
  --color-warning-500: #f76c2d;
  --color-warning-700: #fa916b;
}

@theme extend {
  --font-family-display: Poppins, sans-serif;
}

@layer utilities {
  .animate-fade-in {
    animation: fade 0.25s ease-in;
  }
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer components {
  .table-th {
    @apply text-slate-600 dark:text-slate-300 text-xs font-semibold uppercase py-5 px-6 ltr:text-left rtl:text-right;
  }

  .table-td {
    @apply text-slate-600 dark:text-slate-300 text-sm font-normal capitalize px-6 py-5 border-slate-100 dark:border-slate-700;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .badge {
    @apply py-1 px-2 text-xs capitalize font-semibold rounded-[.358rem] 
      whitespace-nowrap align-baseline inline-flex;
  }

  h1 {
    @apply text-6xl font-semibold text-slate-900 dark:text-slate-300;
  }

  h2 {
    @apply text-5xl font-semibold text-slate-900 dark:text-slate-300;
  }

  h3 {
    @apply text-4xl font-medium text-slate-900 dark:text-slate-300;
  }

  h4 {
    @apply text-3xl font-medium text-slate-900 dark:text-slate-300;
  }

  h5 {
    @apply text-2xl font-medium text-slate-900 dark:text-slate-300;
  }

  h6 {
    @apply text-xl leading-5 font-medium text-slate-900 dark:text-slate-300;
  }

  .form-label {
    @apply mb-2 text-slate-600 dark:text-slate-300 text-sm leading-6 capitalize 
      cursor-pointer block w-full font-medium rtl:text-right rtl:block;
  }

  .form-control {
    @apply bg-white dark:bg-slate-900 border border-slate-200 dark:border-slate-700 
      dark:text-slate-300 rounded px-3 text-sm 
      placeholder:text-slate-400 placeholder:font-normal
      focus:ring-1 focus:ring-slate-600 dark:focus:ring-slate-900 focus:outline-none
      block w-full transition duration-300 ease-in-out;
  }

  .input-description {
    @apply block text-gray-500 font-light leading-4 text-xs mt-2;
  }

  .fromGroup {
    @apply relative;
  }
}
